{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Player{% endblock %}

{% block body %}

<header class="grid-header">
</header>
<nav class="grid-nav">
    <h2>Ajouter un nouveau joueur</h2>
    <div class="rounded-bar">
        <div class="box bg-primary">1 • Informations du candidat</div>
        <div class="box text-muted">2 • Choisir l'équipe</div>
        <div class="box text-muted">3 • Tournois</div>
        <div class="box text-muted">4 • Info Lieu ?</div>
    </div>

</nav>
<main class="grid-content">
    <h1>Coucou</h1>
</main>


{% endblock %}
