{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <header class="grid-header">Hello {{ controller_name }}! ✅</header>

    <nav class="grid-select">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item col-md-6">
                    <a class="nav-link active" href="#">Upcomo</a>
                    </li>
                    <li class="nav-item col-md-6">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
           </div>

    </nav>
    <nav class="grid-select">Select</nav>
    <nav class="grid-nav">Navigation</nav>    
    <main class="grid-main">Main Content</main>
    <article class="grid-article">Additional Content</article>
    <footer class="grid-footer">Footer</footer>
{% endblock %}