{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<h1>OMEGABRUH</h1>
    <header class="grid-header">Hello {{ controller_name }}! ✅</header>

    <nav class="grid-select">Navigation</nav>
    <main class="grid-main">Main Content</main>
    <article class="grid-article">Additional Content</article>
    <footer class="grid-footer">Footer</footer>
{% endblock %}
