{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <header class="grid-header">Hello {{ controller_name }}! ✅</header>

    <nav class="grid-select">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item col-md-6">
                <button class="selector-button active" id="highlights-btn">Highlights</button>
                </li>
                <li class="nav-item col-md-6">
                <button class="selector-button" id="upcoming-btn">Upcoming</button>
                </li>
            </ul>
        </div>

    </nav>


    <nav class="grid-nav">Navigation</nav>    
    <main class="grid-main">
        <div id="highlights-content" style="display: none;">
        <h1>Highlights</h1>
        <p>Details about highlights...</p>
        </div>
        <div id="upcoming-content" style="display: none;">
        <h1>Upcoming</h1>
        <p>Details about upcoming events...</p>
        </div>
        
    </main>
    <article class="grid-article">Additional Content</article>
    
    <footer class="grid-footer">Footer</footer>
{% endblock %}