{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
<div class="grid-content">
    <h1>Créer un nouveau tournois</h1>

    {{ include('tournament/_form.html.twig') }}
</div>

    <a href="{{ path('app_tournament_index') }}">back to list</a>
{% endblock %}
